<div class="row">
  <div class="col-md-8 col-md-offset-2" style="border: 2px dashed rgba(27,31,35,0.3); border-radius: 5px; padding: 30px; width: 648.33px;">
    <h1>All books</h1>

    <hr/>
      <% @books.each do |book| %>
      <a href="/books/<%=book.isbn%>"><%= book.title %></a>
      <p>
        <%= book.pages %>
      </p>
      <p>
        <%= book.publisher %>
      </p>
      <p>
        <%= book.copiesLeft %>
      </p>
      <hr />
      <div class="pull-right">
        <%= image_tag book.image.url(:thumb) %>
        <% if book.copiesLeft > 0 %>
          <%= form_for(@order_item, remote: true) do |f| %>
          <%= f.hidden_field :book_id, value: book.id %>
          <%= f.hidden_field :quantity, value: 1, min: 1 %>
          <%= f.submit "Add to cart", class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
      <% end %>
  </div>
  </div>
