<div class="row">
  <div class="col-md-8 col-md-offset-2" style="border: 2px dashed rgba(27,31,35,0.3); border-radius: 5px; padding: 30px; width: 648.33px;">
    <h1>All books</h1>

    <hr/>
      <% @books.each do |book| %>
      <a href="/books/<%=book.isbn%>"><%= book.title %></a>
      <p>
        <%= book.pages %>
      </p>
      <p>
        <%= book.publisher %>
      </p>
      <p>
        <%= book.copiesLeft %>
      </p>
      <hr />
      <div class="pull-right">
        <%= image_tag book.image.url(:thumb) %>
        <% if book.copiesLeft > 0 %>
        <form class="new_order_item" id="new_order_item" name="rent" action="/order_items" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
            <input value="<%=book.id%>" type="hidden" name="order_item[book_id]" id="order_item_book_id" />
              <input value="1" min="1" type="hidden" name="order_item[quantity]" id="order_item_quantity" />
          <input type="submit" value="Add to cart" class="btn btn-primary btn-sm" onclick="event.preventDefault(); checkSignIn();">
        </form>
          <% end %>
        <% end %>
      <% end %>
  </div>
  </div>
