
<style>
.carousel-inner > .item > img {
  width:740px;
  height:360px;
}
</style>

<div class="row carousel-holder">
    <div class="col-md-8 col-md-offset-2">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>

            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="/images/bookclub.jpg" width="400" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="/images/booksale.png" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="/images/coffeestory.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="/images/gamesday.png" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row col-md-8 col-md-offset-2">
  <h1 class="text-center">Check out our newly added books!</h1>
  <% @books.each do |b| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag b.image.url%>
        <div class="caption" style="height: 200px;">
          <% if b.copiesLeft > 0 %>
          <form class="new_order_item" id="new_order_item" name="rent" action="/order_items" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
              <input value="<%=b.id%>" type="hidden" name="order_item[book_id]" id="order_item_book_id" />
              <input value="1" min="1" type="hidden" name="order_item[quantity]" id="order_item_quantity" />
            <input type="submit" value="Add to cart" class="btn btn-primary" onclick="event.preventDefault(); checkSignIn();">
          </form>
          <% end %>
          <div class="caption">
            <h5>
              <a href="/books/<%=b.isbn%>"><%= b.title %></a>
            </h5>
            <p>
              <%=b.author.fName %>
              <%=b.author.lName %>
            </p>
            <label>Copies Left <%=b.copiesLeft %></label>

          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>


<script type="text/javascript">
  function checkSignIn() {
    var signed_in = <%= signed_in? %>;

    if (signed_in)
      document.forms["rent"].submit();
    else {
      alert("Sign in or register to rent a book.");
      return false;
    }

  }
</script>
