<p id="notice"><%= notice %></p>

<% if (@current_rentals.blank?) && (@past_rentals.blank?) -%>
  <h1>Rentals</h1>
  <div class="jumbotron">
    <p style="line-height: 30px;">
      You don't have any rentals. Search for books by title, author, or category and rent the ones you like.
    </p>
  </div>
<% else -%>
  <div class="well">
    <h1>Current Rentals</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Date Rented</th>
          <th>Date Due</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @current_rentals.each do |rental| %>
          <tr>
            <td><%= rental.isbn %></td>
            <td><%= rental.book.title %></td>
            <td><%= rental.dateRented.strftime("%B %-d, %Y") %></td>
            <%# Text turns red if rental is overdue %>
            <% if Date.current > rental.dateDue -%>
              <td class="text-danger">
            <% else -%>
              <td>
            <% end -%>
            <%= rental.dateDue.strftime("%B %-d, %Y") %></td>
            <td>
              <form name="return" action="/rentals/<%= rental.id %>" method="post">
                <input type="hidden" name="id" value="<%= rental.id %>">
                <input type="hidden" name="isbn" value="<%= rental.isbn %>">
                <input type="hidden" name="copies" value="<%= rental.book.copiesLeft %>">
                <input type="submit" value="Return">
              </form>
            </td>
            <td>
              <%# Renew button only appears if rental has not been renewed before
              (to prevent spam of renewal) and has no fees (cannot renew if overdue) %>
              <% if (!rental.isRenewed) && (rental.fee == 0) -%>
                <form name="renew" action="/rentals/renew/<%= rental.id %>" method="post">
                  <input type="hidden" name="id" value="<%= rental.id %>">
                  <input type="hidden" name="date" value="<%= rental.dateDue %>">
                  <input type="submit" value="Renew">
                </form>
              <% end -%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="well">
    <h1>Past Rentals</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Date Rented</th>
          <th>Date Due</th>
          <th>Date Returned</th>
        </tr>
      </thead>

      <tbody>
        <% @past_rentals.each do |rental| %>
          <tr>
            <td><%= rental.isbn %></td>
            <td><%= rental.book.title %></td>
            <td><%= rental.dateRented.strftime("%B %-d, %Y") %></td>
            <td><%= rental.dateDue.strftime("%B %-d, %Y") %></td>
            <td><%= rental.dateReturned.strftime("%B %-d, %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @past_rentals %></div>
  </div>

<% end -%>
