<div class="row">
  <div class="col-md-8 col-md-offset-3" style="border: 2px dashed rgba(27,31,35,0.3); border-radius: 5px; padding: 30px; width: 648.33px;">
    <div class="row">
        <%= image_tag @book.image.url, size: "600x400" %>
    </div>
    <div class="row text-center">
      <h3>
        <strong>ISBN:</strong>
        <%= @book.isbn %>
      </h3>

      <h3>
        <strong>Title:</strong>
        <%= @book.title %>
      </h3>

      <h3>
        <strong>Author:</strong>
        <%= @book.author.fName %> <%= @book.author.lName %>
      </h3>

      <h3>
        <strong>Pages:</strong>
        <%= @book.pages %>
      </h3>

      <h3>
        <strong>Publisher:</strong>
        <%= @book.publisher %>
      </h3>

      <h3>
        <strong>Copies Available:</strong>
        <%= @book.copiesLeft %>
      </h3>

      <h3>
        <strong>Category:</strong>
        <%= @book.category.name %>
      </h3>
    </div>


    <% if (signed_in?) && (current_user.isAdmin?) -%>
      <%= link_to 'Edit', edit_book_path(@book) %> |
      <%= link_to 'Back', books_path %>
    <% else -%>
    <% if @book.copiesLeft > 0 %>
    <form class="new_order_item" id="new_order_item" name="rent" action="/order_items" accept-charset="UTF-8" data-remote="true" method="post">
      <input value="<%=@book.id%>" type="hidden" name="order_item[book_id]" id="order_item_book_id" />
      <input value="1" min="1" type="hidden" name="order_item[quantity]" id="order_item_quantity" />
      <input type="submit" value="Add to cart" class="btn btn-primary" onclick="event.preventDefault(); checkSignIn();">
    </form>
    <% end %>
    <% end -%>
  </div>
</div>
